In [ ]:
import numpy as np
import pandas as pd
import os
%matplotlib inline               
import numpy as np
import matplotlib.pyplot as plt
import keras

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences 
from tensorflow.keras.utils import to_categorical
from keras.layers import Dense, Input, GlobalMaxPooling1D, Reshape, LSTM, Lambda, Bidirectional
from keras.layers import Conv1D, MaxPooling1D, Embedding, Concatenate, AveragePooling1D, TimeDistributed
from keras.layers import Conv2D, MaxPooling2D, BatchNormalization, Flatten, MaxPool2D, Conv2D
from keras.layers import GlobalMaxPooling2D, Conv3D, MaxPooling3D, ConvLSTM2D, Add,Dropout, Masking
from keras.models import Model
from keras.initializers import Constant 
import tensorflow as tf

In [ ]:
pip install contractions

Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.0.58)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.3.0)

In [ ]:
import contractions

In [ ]:
df = pd.read_csv('dev_sent_emo.csv')

In [ ]:
max(df.Utterance_ID.values)

22

In [ ]:
df.Speaker.value_counts() # Total speakers 47

Ross                 217
Phoebe               185
Rachel               164
Joey                 149
Monica               137
Chandler             101
Frank                 17
Carol                 13
All                   10
Susan                 10
Dr. Long               8
Tag                    7
Estelle                7
Joanna                 7
Bob                    5
Max                    5
Whitney                4
Jen                    4
Woman                  4
Lauren                 4
Janine                 4
Kori                   4
Gary                   3
The Hot Girl           3
Alice                  3
Kyle                   3
Ross and Rachel        3
Cliff                  2
TV Announcer           2
Ursula                 2
Kate                   2
Guy                    2
Waitress               2
Dr. Harad              2
Jeannine               2
Stage Manager          1
Mrs. Green             1
Cookie                 1
Monica and Rachel      1
The Dry Cleaner        1
Charlie                1
Elizabeth              1
Carl                   1
Mrs. Geller            1
Passerby               1
Mark                   1
Doctor                 1
Name: Speaker, dtype: int64

In [ ]:
df[(df.Dialogue_ID == 0) & (df.Utterance_ID == 0)][['Utterance', 'Utterance_ID', 'Speaker', 'Emotion', 'Sentiment']]

                                        Utterance  ...  Sentiment
0  Oh my God, he’s lost it. He’s totally lost it.  ...   negative

[1 rows x 5 columns]

In [ ]:
from textblob import TextBlob

In [ ]:
score = TextBlob("this is horrible")
score.sentiment

Sentiment(polarity=-1.0, subjectivity=1.0)

In [ ]:
df

      Sr No.  ...       EndTime
0          1  ...  00:21:00,049
1          2  ...  00:21:03,261
2          3  ...  00:12:30,915
3          4  ...  00:12:33,960
4          5  ...  00:12:37,505
...      ...  ...           ...
1104    1174  ...  00:19:29,876
1105    1175  ...  00:19:35,965
1106    1176  ...  00:19:37,967
1107    1177  ...  00:19:40,928
1108    1178  ...  00:19:42,638

[1109 rows x 11 columns]